@charset "UTF-8";
/* ----------Start of mobile-L size------------ */
/* ----------End of mobile-L size------------ */
/* ----------Start of tablet size------------ */
/* ----------End of tablet size------------ */
/* ----------Start of labtop size------------ */
@media (max-width: 1127px) {
  body {
    margin: 0;
  }
  header {
    display: none;
  }
  main {
    /* -----------End of container-wrapper-------------- */
  }
  main section .top-wrapper {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  main section .top-wrapper .top-image {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
  }
  main section .top-wrapper .top-image .img {
    height: 200px;
  }
  main section .top-wrapper .top-image .responsive-header {
    display: block;
    position: absolute;
    top: 30px;
    left: 15px;
  }
  main section .top-wrapper .top-image .responsive-header i {
    color: #ffffff;
    font-size: 40px;
  }
  main section .top-wrapper .top-image .top-modal {
    position: static;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
  }
  main section .top-wrapper .top-image .top-modal .row {
    margin-bottom: 0;
  }
  main section .top-wrapper .top-image .top-modal .row .title {
    margin: 0 auto;
    padding-bottom: 20px;
  }
  main section .top-wrapper .top-image .top-modal .row .title h1 {
    color: #ffffff;
  }
  main section .top-wrapper .top-image .top-modal .row .box {
    width: 100%;
    padding: 15px;
    background-color: #fff;
  }
  main section .top-wrapper .top-image .top-modal .row .box .item {
    margin: 0 auto;
    width: 70%;
    height: auto;
  }
  main .container-wrapper {
    /* ------------End of container------------- */
  }
  main .container-wrapper .container {
    /* --------End of section---------- */
  }
  main .container-wrapper .container section .top-message-wrapper .top-message .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container-wrapper .container section .top-message-wrapper .top-message .row .message {
    width: 536px;
    padding-bottom: 40px;
  }
  main .container-wrapper .container section {
    padding: 16px 0 0 0;
    overflow: hidden;
    padding: 30px 0;
    margin: 20px 0;
  }
  main .container-wrapper .container section .section-title h2 {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    /* over line code */
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
  }
  main .container-wrapper .container section .section-title h2:after {
    /* over line code */
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    /*線の上下位置*/
    display: inline-block;
    width: 80px;
    /*線の長さ*/
    height: 2px;
    /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
    background-color: gray;
    /*線の色*/
    border-radius: 2px;
    /*線の丸み*/
  }
  main .container-wrapper .container section .contents-wrapper {
    margin: auto;
    padding: 0 40px;
  }
  main .container-wrapper .container section .section1 .middle-message {
    width: 100%;
  }
  main .container-wrapper .container section .section1 .middle-message .row {
    width: 100%;
  }
  main .container-wrapper .container section .section1 .middle-message .row .section-title h2 {
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    /* over line code */
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
  }
  main .container-wrapper .container section .section1 .middle-message .row .section-title h2:after {
    /* over line code */
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    /*線の上下位置*/
    display: inline-block;
    width: 80px;
    /*線の長さ*/
    height: 2px;
    /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
    background-color: gray;
    /*線の色*/
    border-radius: 2px;
    /*線の丸み*/
  }
  main .container-wrapper .container section .section1 .middle-message .row .three-message {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container-wrapper .container section .section1 .middle-message .row .three-message .box {
    width: 536px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  main .container-wrapper .container section .section1 .dennis-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    margin-right: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container-wrapper .container section .section1 .dennis-wrapper .row .dennis-message {
    width: 272px;
    padding: 0;
    margin-right: 20px;
  }
  main .container-wrapper .container section .section1 .dennis-wrapper .row .dennis-message .icon .fa-quote-left {
    font-size: 18px;
  }
  main .container-wrapper .container section .section1 .dennis-wrapper .row .dennis-message .comment p {
    font-size: 18px;
    line-height: 1.44444em !important;
  }
  main .container-wrapper .container section .section1 .dennis-wrapper .row .dennis-message .dennis-description p {
    font-size: 14px;
  }
  main .container-wrapper .container section .section1 .dennis-wrapper .row .dennis-message .button {
    padding: 10px 20px;
    border: 2px #484848 solid;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
  }
  main .container-wrapper .container section .section1 .dennis-wrapper .row .dennis-image {
    width: 324px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container-wrapper .container section .section1 .dennis-wrapper .row .dennis-image img {
    width: 100%;
  }
  main .container-wrapper .container section .section2 .contents-wrapper {
    width: 100%;
  }
  main .container-wrapper .container section .section2 .contents-wrapper .row {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container-wrapper .container section .section2 .contents-wrapper .row .col-xl {
    width: 648px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  main .container-wrapper .container section .section2 .contents-wrapper .row .col-xl .left-box {
    width: 100%;
    margin: 0;
    padding-right: 0px;
  }
  main .container-wrapper .container section .section2 .contents-wrapper .row .col-xl .right-box {
    width: 100%;
    margin: 0;
    padding-right: 0;
  }
  main .container-wrapper .container section .section2 .contents-wrapper .row .col-lg-12 .image {
    padding-top: 70px;
    width: 648px;
    margin: 0 auto;
  }
  main .container-wrapper .container section .section2 .contents-wrapper .row .col-lg-12 .image img {
    width: 100%;
  }
  main .container-wrapper .container section .section3 .contents-wrapper {
    width: 100%;
    /* -----------#section3-image------------- */
  }
  main .container-wrapper .container section .section3 .contents-wrapper .row .col-xl-4 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container-wrapper .container section .section3 .contents-wrapper .row .col-xl-4 .box {
    width: 536px;
  }
  main .container-wrapper .container section .section3 .contents-wrapper #section3-image {
    width: 700px;
  }
  main .container-wrapper .container section .section3 .contents-wrapper #section3-image .col-6 .image img {
    width: 100%;
    height: auto;
  }
  main .container-wrapper .container section .section3 .contents-wrapper #section3-image .col-6 .box .icon .fa-quote-left {
    font-size: 18px;
  }
  main .container-wrapper .container section .section3 .contents-wrapper #section3-image .col-6 .box .comment p {
    font-size: 18px;
    line-height: 1.4444em !important;
  }
  main .container-wrapper .container section .section3 .contents-wrapper #section3-image .col-6 .box .dennis-description p {
    font-size: 14px;
  }
  main .container-wrapper .container section .section3 .contents-wrapper #section3-image .col-6 .box .button {
    padding: 10px 20px;
  }
  main .container-wrapper .container section .section4 .contents-wrapper {
    width: 100%;
  }
  main .container-wrapper .container section .section4 .contents-wrapper .row {
    width: 100%;
    margin: 0 auto;
  }
  main .container-wrapper .container section .section4 .contents-wrapper .row .col-md-4 .box h3 {
    font-size: 40px;
  }
  main .container-wrapper .container section .section4 .contents-wrapper .row .col-md-4 .box p {
    font-size: 14px;
  }
  main .container-wrapper .container section .section5 .contents-wrapper {
    width: 100%;
  }
  main .container-wrapper .container section .section5 .contents-wrapper .row .col-lg-6 {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*@include checkborder();*/
  }
  main .container-wrapper .container section .section5 .contents-wrapper .row .col-lg-6 .box {
    width: 540px;
    margin-bottom: 50px;
  }
  /* ----------- End of main ------------ */
}

/* ----------End of laptop size------------ */
/*# sourceMappingURL=responsive.css.map */