@import "mixins";


/* ----------Start of mobile-L size------------ */
@media(max-width:425px) {

}/* ----------End of mobile-L size------------ */


/* ----------Start of tablet size------------ */
@media(max-width:768px) {

}/* ----------End of tablet size------------ */

/* ----------Start of labtop size------------ */
@media(max-width:1127px) {
    body {
        margin: 0;
    }
    

    header{
        display: none;
    }

    main {
        section {

            .top-wrapper {
                margin: 0 auto;
                width: 100%;
                height: auto;
    
                .top-image {
                    width: 100%;
                    height: auto;
                    background-color: rgba($color: #000000, $alpha: 0.1);
    
                    .img {
                        height: 200px;
                    }
    
                    .responsive-header {
                        display: block;
                        position: absolute;
                        top: 30px;
                        left: 15px;
                        i {
                            color: #ffffff;
                            font-size: 40px;
                        }
                    }
                    
                    .top-modal {
                        position: static;
                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                        padding: 0;
                        background-color: transparent;
    
    
                        .row {
                            margin-bottom: 0;
                            .title {
                                margin: 0 auto;
                                padding-bottom: 20px;
    
                                h1 {
                                    color: #ffffff;
                                }
                            }
                            .box { 
                                width: 100%;
                                padding: 15px;
                                background-color: #fff;
    
                                .item {
                                    margin: 0 auto;
                                    width: 70%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
    
        }
        .container-wrapper {
            .container {
    
                section {
    
                    .top-message-wrapper {
                        
                        .top-message {
                            
                            .row {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .message {
                                    width: 536px;
                                    padding-bottom: 40px;
                                }
                            }
                        }
                    }
                }/* --------End of section---------- */

                section {
                    @include section-spacing(16px 0 0 0);
                    @include extrusionPrevention();
                    @include section-spacing(30px 0);
                    margin: 20px 0;

                    .section-title {
                        @include section-title(40px);
                    }
                    .contents-wrapper {
                        margin: auto;
                        padding: 0 40px;
                    }
                }

                section{
                    .section1 {
                        .middle-message {
                            width: 100%;
                            .row {
                                width: 100%;

                                .section-title {
                                    @include section-title(40px);
                                }

                                .three-message {
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                
                                    .box {
                                        width: 536px;
                                        margin: 0 auto;
                                        padding-bottom: 40px;
                                    }
                                }
                            }
                        }

                        .dennis-wrapper {
                            @include subsection-spacing(70px, 70px);
                            width: 100%;
                            margin-right: 70px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .row {

                                .dennis-message {
                                    width: 272px;
                                    padding: 0;
                                    margin-right: 20px;
                                    .icon {
                                        .fa-quote-left {
                                            font-size: 18px;
                                        }
                                    }
                                    .comment {
                                        p {
                                            font-size: 18px;
                                            line-height: 1.44444em !important;
                                        }
                                    }
                                    .dennis-description {
                                        p {
                                            font-size: 14px;
                                        }
                                    }
                                    .button {
                                        padding: 10px 20px;
                                            border: 2px #484848 solid;
                                            font-weight: bold;
                                            display: inline-block;
                                            border-radius: 5px;
                                    }
                                }
            
                                .dennis-image {
                                    width: 324px;
                                    height: auto;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
        
                        }
                    }

                    .section2 {
                        .contents-wrapper {
                            width: 100%;
                            .row {
                                margin: 0 auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .col-xl {
                                    width: 648px;
                                    margin: 0 auto;
                                    margin-bottom: 20px;
                                    
                                    .left-box {
                                        
                                        width: 100%;
                                        margin: 0;
                                        padding-right: 0px;
                                    }
        
                                    .right-box {
                                        width: 100%;
                                        margin: 0;
                                        padding-right: 0;
                                    }
                                    
                                }
        
                                .col-lg-12 {
                                    .image {
                                        padding-top: 70px;
                                        width: 648px;
                                        margin: 0 auto;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .section3 {
                        .contents-wrapper {
                            width: 100%;
                            .row {
        
                                .col-xl-4 {
                                    margin: 0 auto;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    .box {
                                        width: 536px;
                                    }
                                }
        
                            }

                            #section3-image {
                                width: 700px;

                                .col-6{
        
                                    .image {
        
                                        img {
                                            width: 100%;
                                            height: auto;
                                        }
        
                                    }
        
                                    .box {
        
                                        .icon {
                                            .fa-quote-left {
                                                font-size: 18px;
                                            }
                                        }
                                        .comment {
                                            p {
                                                font-size: 18px;
                                                line-height: 1.4444em !important;
                                            }
                                        }

                                        .dennis-description {
                                            p {
                                                font-size: 14px;
                                            }
                                        }
                                        
                                        .button {
                                            padding: 10px 20px;
                                        }
                                        
                                    }
                                }

                            }/* -----------#section3-image------------- */
                        }
                    }

                    .section4 {
                        .contents-wrapper {
                            width: 100%;

                            .row {
                                width: 100%;
                                margin: 0 auto;
                                
                                .col-md-4 {
                                    
                                    .box {
                                        
                                        h3 {
                                            font-size: 40px;
                                        }
        
                                        p{
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }


                }


            }/* ------------End of container------------- */
        }/* -----------End of container-wrapper-------------- */
    }/* ----------- End of main ------------ */

}/* ----------End of laptop size------------ */

