/* @import of bootstrap is compile error */
/* $theme-colors: (
	"cpink": #FF5A5F
);

@import "functions";
@import "variables";
@import "mixins"; */
html, body {
  color: #484848;
  max-width: 100%;
  /* background-color: #fff; */
}

.header-wrapper {
  height: 82px;
  padding: 0 80px 0 0;
  margin-bottom: 1px;
}

.nav-item .menu {
  font-size: 14px;
  color: #484848;
  line-height: 80px;
  padding: 0;
  margin: 0 16px;
}

.nav-item .actived-page {
  border-bottom: 2px solid #008489;
  color: #008489 !important;
}

.money {
  font-size: 24px;
  font-weight: bold;
}

.fa-question-circle {
  color: #484848;
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-wrapper button {
  font-size: 14px;
}

.fa-airbnb {
  font-size: 2.2em;
  color: #008489;
  padding: 15px 0 12px 20px;
}

main {
  /* ------------- end of .container-wrapper ------------- */
}

main .top-wrapper .top-image {
  max-width: 100%;
  position: relative;
  height: 600px;
  margin: 0;
}

main .top-wrapper .top-image img {
  width: 100%;
  height: auto;
  z-index: -1;
}

main .top-wrapper .top-image .top-modal {
  background-color: #fff;
  position: absolute;
  top: 10%;
  left: 60%;
  padding: 24px;
  border-radius: 5px;
}

main .top-wrapper .top-image .top-modal h1, main .top-wrapper .top-image .top-modal .modal-money {
  font-size: 40px;
}

main .top-wrapper .top-image .top-modal button {
  font-size: 16px;
}

main .container-wrapper {
  background-color: white;
  width: 100%;
  margin: auto;
  /* end of .container */
}

main .container-wrapper .container {
  overflow: hidden;
  max-width: 95% !important;
}

main .container-wrapper .container .top-message-wrapper {
  overflow: hidden;
  width: 100%;
}

main .container-wrapper .container .top-message-wrapper .top-message {
  max-width: 1080px;
  margin: 65px auto;
  padding: 0 9px;
}

main .container-wrapper .container .top-message-wrapper .top-message .message {
  margin-right: 80px;
  margin-left: 8px;
  padding: 0;
}

main .container-wrapper .container .top-message-wrapper .top-message .message h3 {
  font-size: 24px;
  font-weight: bold;
}

main .container-wrapper .container .top-message-wrapper .top-message .message p {
  margin: 16px 0;
  font-weight: 400 !important;
  line-height: 1.75em;
}

main .container-wrapper .container .section1 {
  background-color: #ffffff;
}

main .container-wrapper .container .section1 .middle-message .row .section-title h2 {
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

main .container-wrapper .container .section1 .middle-message .row .three-message h3 {
  font-weight: bold;
}

main .container-wrapper .container section {
  overflow: hidden;
  padding-top: 60px;
  margin: 20px 0;
}

main .container-wrapper .container section .section-title h2 {
  width: 100%;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

main .container-wrapper .container section .wrapper {
  border: 2px solid black;
  width: 1080px;
  margin: auto;
  padding: 40px;
  text-align: center;
}

main .container-wrapper .container .section7 {
  border: 2px solid black;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
/*# sourceMappingURL=style.css.map */