/* @import of bootstrap is compile error */
/* $theme-colors: (
	"cpink": #FF5A5F
);

@import "functions";
@import "variables";
@import "mixins"; */

@mixin extrusionPrevention {
    overflow: hidden;
}

@mixin section-title {
    h2 {
        width: 100%;
        font-size: 60px;
        font-weight: bold;
        text-align: center;

        /* over line code */
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
    }

    h2:after {/* over line code */
        content: '';
        position: absolute;
        left: 50%;
        top: -15px;/*線の上下位置*/
        display: inline-block;
        width: 80px;/*線の長さ*/
        height: 2px;/*線の太さ*/
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);/*位置調整*/
        background-color: gray;/*線の色*/
        border-radius: 2px;/*線の丸み*/
    }
}

@mixin link {
    color: #008489;
}


html, body {
    color: #484848;
    max-width: 100%;
    /* background-color: #fff; */
}
.header-wrapper {
    height:82px;
    padding:0 80px 0 0;
    margin-bottom: 1px;
}
.nav-item {
    .menu {
        font-size: 14px;
        color: #484848;
        line-height: 80px;
        padding: 0;
        margin: 0 16px;
    }
    .actived-page {
        border-bottom:2px solid #008489;
        color: #008489 !important;
    }
}
.money {
    font-size: 24px;
    font-weight: bold;
}
.fa-question-circle {
    color: #484848;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        font-size: 14px;
    }
}
.fa-airbnb {
    font-size: 2.2em;
    color: #008489;
    padding: 15px 0 12px 20px;
}

main {
    .top-wrapper {
        .top-image {
            max-width: 100%;
            position: relative;
            height: 600px;
            margin: 0;
            img {
                width: 100%;
                height: auto;
                z-index: -1;
            }
            .top-modal {
                background-color: #fff;
                position: absolute;
                top: 10%;
                left: 60%;
                padding: 24px;
                border-radius: 5px;
                h1, .modal-money {
                    font-size: 40px;
                }
                button {
                    font-size: 16px;
                }
            }
        }
    }

    .container-wrapper {
        background-color: white;
        width: 100%;
        margin: auto;
        .container {
            @include extrusionPrevention();
            max-width: 95% !important;
            .top-message-wrapper {
                @include extrusionPrevention();
                width: 100%;
                .top-message {
                    max-width: 1080px;
                    margin: 65px auto;
                    padding: 0 9px;
                    .message {
                        margin-right: 80px;
                        margin-left: 8px;
                        padding: 0;
                        h3 {
                            font-size: 24px;
                            font-weight: bold;
                        }
                        p {
                            margin: 16px 0;
                            font-weight: 400 !important;
                            line-height: 1.75em;
                        }
                    }
                }
            }
            .section1 {
                background-color: #ffffff;
                .middle-message {
                    max-width: 1040px;
                    margin: auto;
                    .row {
                        .section-title {
                            @include section-title();
                        }
                        .three-message {
                            .col-12 {
                                margin: 20px 0;
                                padding: 0;
                                .fa-check-circle {
                                    font-size: 50px;
                                }
                            }
                            h3 {
                                font-weight: bold;
                                
                            }
                            .link {
                                @include link();
                            }
                        }
                    }
                }
            }
            section {
                @include extrusionPrevention();
                padding-top: 60px;
                margin: 20px 0;
                .section-title {
                   @include section-title();
               }
                .wrapper {
                    border: 2px solid black;
                    width: 1080px;
                    margin: auto;
                    padding: 40px;
                    text-align: center;
                }
            }
            
            .section7 {
                border: 2px solid black;
                width: 100%;
                margin: auto;
                padding-top: 20px;
            }
        }/* end of .container */

    }/* ------------- end of .container-wrapper ------------- */
    
}
        footer {
            padding: 40px 0;
            .footer-container {
                max-width: 1080px !important;
                margin: auto;
            }
        }

.footer-title {
    h3 {
        font-size: 14px;
        font-weight: bold;
    }
}

.footer-bottom {
    border-top: 1px solid #f1f1f1;
    padding: 20px 0;
}